apiVersion: v1
kind: Service
metadata:
  name: brain-tasks-svc
spec: 
    type: LoadBalancer
    selector:
      app: brain-tasks
    ports:
      - port: 80
        targetPort: 3000
        protocol: TCP

